.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
}
.h1{
    text-align:center;
    color: red;
    font-size: 68px;
}
.img{
    align-item: center;
}
